<template>
  <div id="purchase">
    <div class="purchase__title-wrapper">
      <h2 class="purchase__title">二步驟 <br> 打造專屬殼</h2>
    </div>
    <!-- 手機殼顯示區 -->
    <div class="display__area">
      <section class="purchase__preview">
        <div class="purchase__preview-images-wrapper">
          <img id="img-phone" src="https://cdn.shopify.com/s/files/1/0740/2335/products/phone45-12-Pro_AppleGraphite_d04b461d-15c3-4e43-9b43-a828eaa4478c.png?v=1603352312" alt="" class="purchase__preview-image main">
          <img id="img-bumper" src="https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Bumper_87d2c086-7e6a-4f40-93d9-33828a249bbe.png?v=1597911746" alt="" class="purchase__preview-image sub case">
          <img id="img-rim" src="https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Rim_2e73b29c-7262-463d-b047-2f91a790068a.png?v=1597911791" alt="" class="purchase__preview-image sub rim purchase__preview-image--backward">
          <img id="img-button" src="https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Button_23534b09-c1aa-4ab4-8174-ded2bc09069e.png?v=1597911773" alt="" class="purchase__preview-image sub button">
          <img id="img-backplate" src="https://cdn.shopify.com/s/files/1/0740/2335/products/minisite-NPB0118526L_b4665252-c418-480f-9ca3-b84fb860ca2c.png?v=1603868182" alt="" class="purchase__preview-image sub backplate"></div>
          <div class="purchase__selector-wrapper phone">
            <div class="color-container">
              <p class="color-picker-title">裝置<br>顏色</p>
              <div class="normal color-picker color-picker--vertical">
                <div id="apple_graphite" class="color-picker--vertical__option active">
                  <div class="dot apple_graphite"></div>
                </div>
                <div id="silver" class="color-picker--vertical__option">
                  <div class="dot silver"></div>
                </div>
                <div id="gold" class="color-picker--vertical__option">
                  <div class="dot gold"></div>
                </div>
                <div id="pacific_blue" class="color-picker--vertical__option">
                  <div class="dot pacific_blue"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="purchase__backplate-switch-wrapper">
            <div class="backplate-switch light">
              <section class="backplate-switch__common">
                <div class="backplate-switch__option">
                  <div class="backplate-switch__checkbox backplate-switch__checkbox--active"></div>
                  <input type="radio" id="standard" value="Standard" @change="onModeChange($event)" v-model="backplateMode">
                  <p class="backplate-switch__mode-name" for="standard">背板模式</p>
                </div>
                <div class="backplate-switch__option">
                  <div class="backplate-switch__checkbox"></div>
                  <input type="radio" id="bumper" value="Bumper" @change="onModeChange($event)" v-model="backplateMode">
                  <p class="backplate-switch__mode-name" for="bumper">邊框模式</p>
                </div>
              </section>
            </div>
          </div>
        </section>
    </div>
    <!-- 型號/顏色顯示區 -->
    <div class="selection__area">
      <div class="selection__area__top">
        <div class="device__selector">
          <select name="" id="device" @change="onDeviceChange($event)" v-model="device">
            <option value="iphone-12-pro-max">iPhone 12 Pro Max</option>
            <option value="iphone-12-pro">iPhone 12 Pro</option>
            <option value="iphone-12">iPhone 12</option>
          </select>
        </div>

        <div class="outward">
          <div id="bumperStyle" class="option__block">
            <p class="option__title">邊框樣式</p>
            <div class="icon"></div>
          </div>
          <div id='standardStyle' class="option__block">
            <p class="option__title">背板樣式</p>
            <div class="icon"></div>
          </div>
        </div>
      </div>

      <div class="checkout">
        <div id='itemList' class="checkout__detail">
          <p class="checkout__detail__info">產品包含:</p>
          <p class="checkout__detail__info">手機殼外框 (黑) x 1</p>
          <p class="checkout__detail__info">按鍵 (黑) x 3</p>
          <p class="checkout__detail__info">背板 (透明) x 1</p>
          <p class="checkout__detail__info">飾條 (黑) x 1</p>
          <p class="checkout__detail__info">飾條 (黑) x 1</p>
        </div>
        <div class="checkout__button__block">
          <button class="checkout__btn" @click="addToCart">加入購物車</button>
          <p id='totalPrice' class="price">$0 TWD</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
  },
  data () {
    return {
      dataBase: {},
      cartItems: [],
      product: {},
      device: '',
      backplateMode: '',
      bumperStyle: {},
      backplateStyle: {},
      backImgSrc: '',
      sideImgSrc: '',
      price: 0
    }
  },
  created () {
    this.fetchProductData()
    if (this.dataBase.data) {
      this.setDevice()
    } else {
      setTimeout(() => this.setDevice(), 1000)
    }
  },
  computed: {
  },
  methods: {
    fetchProductData () {
      // TODO
      // Call API 抓取產品資料並依產品類型分類。
      // API URL : http://localhost:3000/mod-nx
      fetch('http://localhost:3000/mod-nx')
        .then((response) => response.json())
        .then((data) => { this.dataBase = data })
    },
    addToCart () {
      // TODO
      // 把選取的產品加到 cartItems 裡面並 console 出來
      console.log(this.cartItems)
    },
    setDevice () {
      // TODO
      // Set All Device
      const tempDevice = {}
      for (const i in this.dataBase.data) {
        for (const j in this.dataBase.data[i].tags) {
          if (this.dataBase.data[i].tags[j].indexOf('device') !== -1) {
            if (tempDevice[this.dataBase.data[i].tags[j].replace('device-', '')] == null) {
              tempDevice[this.dataBase.data[i].tags[j].replace('device-', '')] = []
            }
            tempDevice[this.dataBase.data[i].tags[j].replace('device-', '')].push(this.dataBase.data[i])
            break
          }
        }
      }
      this.product = tempDevice
      const deviceOption = document.getElementById('device')
      deviceOption.options.length = 0
      const deviceKeys = Object.keys(tempDevice)
      for (const i in deviceKeys) {
        if (i === '0') {
          deviceOption.add(new Option(deviceKeys[i].replaceAll('-', ' '), deviceKeys[i], true))
          this.device = deviceKeys[i]
          this.setItemData()
        } else {
          deviceOption.add(new Option(deviceKeys[i].replaceAll('-', ' '), deviceKeys[i]))
        }
      }
    },
    onDeviceChange () {
      this.cartItems = []
      this.price = 0
      this.setItemData()
    },
    onModeChange (event) {
      switch (event.srcElement.id) {
        case 'bumper':
          document.getElementById('bumperStyle').style.display = 'block'
          document.getElementById('standardStyle').style.display = 'none'
          document.getElementById('img-rim').src = this.backImgSrc
          document.getElementById('img-backplate').src = this.sideImgSrc
          break
        case 'standard':
          document.getElementById('bumperStyle').style.display = 'none'
          document.getElementById('standardStyle').style.display = 'block'
          document.getElementById('img-rim').src = this.sideImgSrc
          document.getElementById('img-backplate').src = this.backImgSrc
          break
      }
    },
    setItemData () {
      let tag = ''
      let type = ''
      let pdVariant = {}
      const itemList = document.getElementById('itemList')
      itemList.innerHTML = ''
      itemList.append(this.createPEle('產品包含:'))
      for (const i in this.product[this.device]) {
        type = ''
        for (const j in this.product[this.device][i].tags) {
          if (this.product[this.device][i].tags[j].indexOf('type-mod') !== -1) {
            tag = this.product[this.device][i].tags[j]
            if (tag.indexOf('phone') !== -1) {
              type = 'phone'
            } else if (tag.indexOf('button') !== -1) {
              type = 'button'
            } else if (tag.indexOf('rim') !== -1) {
              type = 'rim'
            } else if (tag.indexOf('backplate') !== -1) {
              type = 'backplate'
            } else if (tag.indexOf('frame') !== -1) {
              type = 'frame'
            }
          }
        }
        pdVariant = this.product[this.device][i].variants[0]
        this.cartItems.push(this.product[this.device][i].title)
        itemList.append(this.createPEle(this.product[this.device][i].title))
        this.price += parseInt(pdVariant.price)
        switch (type) {
          case 'phone':
            document.getElementById('img-phone').src = pdVariant.image
            break
          case 'button':
            document.getElementById('img-button').src = pdVariant.image
            break
          case 'rim':
            this.sideImgSrc = pdVariant.image
            break
          case 'backplate':
            this.backImgSrc = pdVariant.image
            break
          case 'frame':
            document.getElementById('img-bumper').src = pdVariant.image
            break
        }
      }
      document.getElementById('totalPrice').innerHTML = '$' + this.price + ' TWD'
      switch (this.backplateMode) {
        case 'Bumper':
          document.getElementById('img-rim').src = this.backImgSrc
          document.getElementById('img-backplate').src = this.sideImgSrc
          break
        case 'Standard':
          document.getElementById('img-rim').src = this.sideImgSrc
          document.getElementById('img-backplate').src = this.backImgSrc
          break
      }
    },
    createPEle (str) {
      const p = document.createElement('p')
      p.className = 'checkout__detail__info'
      p.innerHTML = str
      return p
    }
  }
}
</script>

<style lang="sass" scoped>
@font-face
  font-family: MarkPro-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro-Bold.otf?12401685184872946130')

@font-face
  font-family: NotoSansCJKtc-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Bold.otf?12610878586689504297')

@font-face
  font-family: MarkPro
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro.otf?4269257120200746974')

@font-face
    font-family: NotoSansCJKtc-Regular
    src: url(https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Regular.otf?4935245772218057441)

#purchase
  position: relative
  width: 100%
  height: 100%
  max-width: 1440px
  display: flex
  padding: 120px 60px
  align-items: flex-start
  justify-content: space-between
  box-sizing: border-box

.purchase__title-wrapper
  width: 25%
  max-width: 220px

.display__area
  height: 100%

.selection__area
  display: flex
  flex-direction: column
  justify-content: space-between
  align-self: stretch
  margin-left: 70px
  width: 35%
  max-width: 260px

  .device__selector
    margin-bottom: 25px

  .checkout

    &__detail
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'

      &__info
        margin: 15px 0
        padding: 0
        line-height: 14px
        font-size: 14px
        text-align: left

    &__button__block
      display: flex
      justify-content: space-between
      align-items: center
      font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'

      .price
        font-size: 14px
        text-algin: right

    &__btn
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 40px
      max-width: 180px
      color: #FFF
      // font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
      box-shadow: none
      border: none
      border-radius: 20.5px
      background-color: #2D2D2D
      transition: all .3s ease
      white-space: inherit

  .outward
    border-top: 2px solid #D8D8D8

  .option__block
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 20px 0
    border-bottom: 1px solid #D8D8D8

    .option__title
      font-size: 14px
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'
      color: #2D2D2D

    .icon
      position: absolute
      right: 0
      top: 50%
      width: 16px
      height: 16px
      transform: translateY(-50%)
      cursor: pointer

      &::before
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transform: rotate(90deg)
        transition: all .3s ease

      &::after
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transition: all .3s ease

    p
      margin: 0
      padding: 0

.purchase__preview
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 650px
  height: 100%
  &-images-wrapper
    position: relative
    height: 80%
  &-image
    &.main
      position: relative
      height: 100%
      z-index: 2
    &.sub
      position: absolute
      height: 100%
      top: 0
      left: 0
    &--backward
      z-index: 1
      transition: all .3s
      transform: translate(12%,-10%)
    &.case
      z-index: 3
    &.backplate
      z-index: 2

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3

.color-picker-title
  position: absolute
  top: 0
  right: 0
  margin: 0
  font-size: 12px
  color: #000
  line-height: normal
  text-transform: uppercase
  transform: translateY(-120%)
  opacity: .2

.color-picker--vertical
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 29px
    height: 29px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    margin-bottom: 18px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 23px
      height: 23px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer

.apple_graphite
  background-color: #686763

.silver
  background-color: #c9c8c9

.gold
  background-color: #fadcc2

.pacific_blue
  background-color: #43616c
</style>
